img {
	width: 300px;
	height: 400px;
	padding: 10px 0px;
}

body {
	margin: 0px auto;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	max-width: 500px;
	text-align: justify;
}

li {
	list-style: none;
	display: inline-block;
	padding: 0px 30px;
}

div {
	text-align: center;
}

span {
	text-align: justify;
}